# It's recommended to move your sqlite database file outside your web root.
#VOTING_DB_PATH='../voting.sqlite3'

# Sign up for a Porkbun account: https://porkbun.com/account/create
# Nvigate to Settings > API Access: https://porkbun.com/account/api
# Add a name, and click `Create API Key` to obtain your token and secret token.
# Save them in your password manager, then paste them here.
# DO NOT commit them to git!
PORKBUN_API_TOKEN=''
PORKBUN_SECRET_API_TOKEN=''

# Only used with `upload.sh`. These are the relative paths to the webroot folder on the remote web server, and the public base URL where the script will be accessible on the web.
REMOTE_WEBROOT='./'
#PUBLIC_WEBROOT='http://your.site.com/'
