### Script config.
#
# Optional configs are commented out with their default value defined.
# They only need to be uncommented to override the default.

# Turns on error_reporting and debug output with `dd()`. Should be
#`false` in production.
#DEBUG=false

# It's recommended to move your sqlite database file outside your web root
# so it can't be downloaded. In this case our example.env ships with an
# override of the default since this makes more sense in development.
VOTING_DB_PATH='./tmp/voting.sqlite3'

#PAGE_TITLE='Domain Suggestions & Voting'
#LEADERBOARD_LIMIT=20
#RATE_LIMIT_PAUSE_SECS=10

# Prefixes, suffixes and TLDs are multi-line strings.
# Keywords are stored in sqlite.
#
# We use plain string formatting instead of an array to make it easy to
# copy/paste lists of prefixes/suffixes/tld's out of a spreadsheet and
# in here. For prefixes and suffixes, make sure to include an empty
# line if you want "no prefix" and/or "no suffix" to show up as an option.
#
# All of these lists should be sorted in descending order of preference,
# with your most-preferred prefix/suffix/tld at the top.
PREFIXES='

the
your
my
'

SUFFIXES='

ly
place
'

TLDS='
com
co
net
org
'

#BIAS_EXISTING_PROB=0.75    # Chance to pick from DB vs random.
#PAIRWISE_PROB=0.75         # Chance opponent comes from close ELO match in DB vs random.
#ARRAY_WEIGHT_FACTOR=0.75   # How heavily prefixes/suffixes/tlds at the top of the lists are preferred.

# Tune weighting factors.
# Exponents >1 strengthen influence.
# Exponents <1 weaken influence.
#VOTE_COUNT_FACTOR=1.0    # How heavily higher vote counts influence random vote selection.
#ELO_SCORE_FACTOR=1.0     # How heavily higher ELO scores influence random vote selection.
#YEAR1_PRICE_FACTOR=1.0   # How heavily lower first-year prices influence random vote selection.
#RENEWAL_PRICE_FACTOR=1.0 # How heavily lower renewal prices influence random vote selection.

### Actual (semi-)secrets.
#
# Sign up for a Porkbun account: https://porkbun.com/account/create
# Navigate to Settings > API Access: https://porkbun.com/account/api
# Add a name, and click `Create API Key` to obtain your token and secret token.
# Save them in your password manager, then paste them here.
# DO NOT commit them to git!
PORKBUN_API_TOKEN=''
PORKBUN_SECRET_API_TOKEN=''

### Uploads.
# Only used with `upload.sh`. These are the relative paths to the webroot
# folder on the remote web server, and the public base URL where the script
# will be accessible on the web.
REMOTE_WEBROOT='./'
#PUBLIC_WEBROOT='http://your.site.com/'
